/* Membuat desain untuk body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/Assets/black-1072366.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

/* Membuat desain untuk Class Container */
.Container {
    display: flex;
    background-color: transparent;
    color: whitesmoke;
    border: 5px solid rgb(255, 0, 217);
    border-radius: 1vh;
}

/* Membuat desain untuk h2 */
h2 {
    border: 3px solid white;
    text-align: center;
    margin-bottom: 10px;
}

/* Membuat desain untuk gambar di tabel */
.Tabel img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Membuat desain untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
}
  
/* Membuat desain untuk pengaturan kolom */
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
  
/* Membuat desain untuk Judul Kolom */
th {
    background-color: grey;
    text-align: center;
}